.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  font-size: 26px;
  font-weight: 500;
  color: red;
  transition: color 0.4s;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.active {
  color: white;
  text-decoration: underline;
}
